.image-scroll-track {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.station-display-main-container {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

.station-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.review-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

@media screen and (min-width: 720px) {
  .review-map-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
