.image-scroll-track-dark {
  display: flex;
  width: 100%;
  gap: 1rem;
  background-color: black;
}

.image-scroll-track-light {
  display: flex;
  width: 100%;
  gap: 1rem;
  background-color: white;
}

.station-display-main-container-dark {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  color: green;
}

.station-display-main-container-light {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

.station-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.review-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

@media screen and (min-width: 720px) {
  .review-map-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
