@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", serif;
}

html {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.align-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-body-container-dark {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgba(48, 70, 95, 0.3);
  max-width: 2560px;
  width: 100%;
}

.main-body-container-light {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(244, 250, 252);
  max-width: 2560px;
  width: 100%;
}
html.light {
  background-color: white;
  color: black;
  height: 100vh;
}

html.dark {
  background-color: black;
  color: green;
  height: 100vh;
}
