.nav-data-container-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 10%;
  width: 100%;
  max-width: 2560px;
  position: absolute;
  z-index: 200000;
  background: rgba(36, 48, 62, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(36, 48, 62, 0.3);
}

.nav-data-container-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 10%;
  width: 100%;
  max-width: 2560px;
  position: absolute;
  z-index: 200000;
  background: rgba(235, 235, 235, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(235, 235, 235, 0.3);
}

.logo-container-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: green;
  text-decoration: none;
}

.logo-container-light {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.logo {
  width: 4rem;
  height: 4rem;
}

@media screen and (min-width: 1440px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  .logo-container {
    font-size: 1.7rem;
  }

  /* .nav-data-container {
    padding: 1rem 7rem;
  } */
}
