.user-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .6rem;
    border-radius: 100%;
    border: solid 1px #000;
}

.profile-dropdown {
    position: absolute;
    z-index: 10000;
    width: 8rem;
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    background-color: rgba(212, 212, 212, 0.788);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.user-icon {
    width: 1rem;
    height: 1rem;
}

@media screen and (min-width: 1440px) {
    .user-icon {
        width: 2rem;
        height: 2rem;
    }

    .profile-dropdown {
        width: 20rem;
        height: 10rem;
    }

    .modal-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
}