.header-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 0rem 2rem;
  height: 10%;
  width: 100%;
}

.side-menu-display-title {
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
}

.side-menu-display-title {
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 10px;
  border: solid 1px #000;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .side-menu-display-title {
    font-size: 2rem;
  }

  .user-icon-container {
    padding: 1rem;
  }

  .user-icon {
    width: 2rem;
    height: 2rem;
  }

  .filter-button {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}
