.gas-station-image-container {
    display: flex;
    width: 100%;
    overflow: scroll;
}

.gas-station-image {
    width: 100%;
    height: 100%;
    max-width: 30rem;
    max-height: 30rem;
    min-width: 10rem;
    min-height: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 1440px) {
    .gas-station-image-container {
        justify-content: center;
    }
    
}
@media screen and (min-width: 2560px) {
    .gas-station-image-container {
        margin-top: 15rem;
    }
    
}